/* Import */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* All */

*{
    margin: 0;
    scroll-behavior: smooth;
}

/* Root */

:root{
    --black: #000;
    --white: #fff;
    --purple: #4B0082;
    --roboto: 'Roboto', sans-serif;
    --orbitron: 'Orbitron', sans-serif;
}

/* Global */

.max_width500{
    max-width: 500px;
    margin: auto;
}

.account body {
    position: relative;
    height: 100%;
}

.account h1{
    font-family: var(--orbitron);
    font-weight: 700;
    color: var(--white);
    font-size: 38px;
    text-align: center;
    padding-bottom: 20px;
}

.account p{
    font-family: var(--roboto);
    font-size: 18px;
    color: var(--white);
    margin-top: 20px;
}

.account a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 500;
}

/* Classes */

.account #div_background_image{
    content: '';
    position: absolute;
    width: 100%;
    background-image: url('../img/Background_register.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    padding: 10px;
}


/* Animation */

.account .anim_undercase {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.account .anim_undercase:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white); 
    transition: all 0.3s ease;
}

.account .anim_undercase:hover:before {
    visibility: visible;
    width: 100%;
}

/* Form */

.account .opacity_background{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 30px 40px;
}

.account form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.account .div_input{
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.account input{
    width: 100%;
    font-family: var(--roboto);
    color: var(--white);
    font-size: 18px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

.account ::placeholder {
    font-size: 18px;
    font-family: var(--roboto);
    color: var(--white);
    padding-left: 3px;
}


.account button{
    align-self: center;
    margin-top: 30px;
    font-size: 24px!important;
}


