
/* Import */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* All */

*{
    margin: 0;
    scroll-behavior: smooth;
}

/* Root */

:root{
    --black: #000;
    --white: #fff;
    --purple: #4B0082;
    --roboto: 'Roboto', sans-serif;
    --orbitron: 'Orbitron', sans-serif;
}

/* Global */

.home .max_width1440{
    max-width: 1440px;
    margin: auto;
}

.home body {
    position: relative;
    height: 100%;
  }

  .home h1{
    font-family: var(--orbitron);
    font-weight: 700;
    color: var(--white);
    font-size: 68px;
    text-align: center;
}

.home h2{
    font-family: var(--orbitron);
    font-weight: 700;
    color: var(--black);
    font-size: 52px;
    text-align: center;
}

.home a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--orbitron);
    font-size: 24px;
}

.home p{
    font-family: var(--roboto);
    font-size: 18px;
    color: var(--black);
}

.home #div_background_image{
    background-image: url('../img/background_galaxie.jpeg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    padding-bottom: 150px;
}

.home ul{
    list-style: none;
    padding: 0;
}


/* Animation */

.anim_undercase {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.anim_undercase:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white); 
    transition: all 0.3s ease;
}

.anim_undercase:hover:before {
    visibility: visible;
    width: 100%;
}

/* Header */

.home header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--white);
}

.home #logo{
    font-family: var(--orbitron);
    font-size: 36px;
    color: var(--white);
}

.home header nav ul{
    display: flex;
    gap: 40px;
}

.home header nav ul li{
    font-family: var(--orbitron);
    font-size: 18px;
}

.home header nav ul li a{
    font-family: var(--orbitron);
}

/* Section 1 */

.home #section1{
    margin: 100px 0;
}

.home #section1 div{
    max-width: 1100px;
    margin: auto;
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.75);
}

.home #section1 h2{
    font-size: 32px;
    font-family: var(--orbitron);
    color: var(--white);
    font-weight: 400;
}

.home #section1 div a{
    text-decoration: none;
    color: var(--white);
    font-size: 28px;
    font-family: var(--orbitron);
    font-weight: 700;
}

/* Main */

/* Section 2 */

.div_section2 {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 20px auto;
}

.div_section2 > div {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 20px;
}

.div_section2 > div > a {
    flex: 0 0 calc(33.333% - 13.333px);
    max-width: calc(33.333% - 13.333px);
    position: relative;
    height: 650px;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.carousel-button-left {
    left: 30px;
}

.carousel-button-right {
    right: 30px;
}

.img-carousel {
    height: 650px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.article-carousel {
    transition: all 0.3s;
}
.article-carousel:hover{
    transform: scale(1.02);
    transition: all 0.3s;
}

.section2 h3 {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    font-family: var(--raleway);
    font-size: 32px;
    color: var(--white);
    text-align: center;
    margin: 0;
    transition: all 0.3s ease;
    z-index: 10;
}

.section2 h2{
    margin-top: 20px;
}

/* Section 3 */

.home #section3{
    background-image: url(../img/Background-quizz.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home #section3 h2{
    color: var(--white);
    text-align: left;
}

.home #section3 p{
    color: var(--white);
    width: 72%;
    line-height: 2;
    font-size: 24px;
}

.home #section3 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 0 150px 0;
    align-items: flex-start;
}

.home #section3 a{
    font-size: 24px;
    font-weight: 500;
}

/* Section4 */

.home #section4{
    background-image: url(../img/Lune-gauche.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home #section4 h2{
    color: var(--white);
    text-align: start;
}

.home #section4 p{
    color: var(--white);
    line-height: 2;
    font-size: 24px;
}

.home #section4 div{
    display: grid;
    grid-template-columns: 35% auto;
    padding: 300px 0 150px 0;
}

.home #section4 div article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.home #section4 a{
    font-size: 24px;
    font-weight: 500;
    align-self: flex-start;
}

/* Footer */

footer{
    background-color: var(--black);
    color: var(--white);
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

footer nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

footer a{
    font-size: 18px;
    font-family: var(--roboto);
}

